[Unit]
Description=Word Tracker Service
# After=network.target

[Service]
Type=simple
WorkingDirectory=/home/xashes/scripts
ExecStart=/home/xashes/anaconda3/bin/python word_tracker.py
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
